<p id="notice"><%= notice %></p>

<h1>Add image Favourites</h1>

<table>
  <form method="GET" action=<%= @favourites_search %>>
    <input type="text" name="search" value="">
  </form>


  <tbody>
      <% @images.each do |image| %>
        <tr>
          <td>
            <%= image["id"] %>
          </td>
          <td>
            <%= image_tag(image["urls"]["small"]) %>
          </td>
          <td>
            <%= link_to "Add ", new_favourite_path(id: image["id"], uri: image["urls"]["small"]) %>
          </td>
        </tr>
      <% end %>
  </tbody>

  <br>
  <br>
  <thead>
    <tr>
      <th>List image favourite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favourites.each do |favourite| %>
      <tr>
        <td><%= favourite.external_id %></td>
        <td>
          <%= image_tag(favourite.uri) %>
        </td>
        <td><%= link_to 'Destroy', favourite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
